header {
  width: 2.5em;
  height: 100vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .inner-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background-color: #f4f4f4;
  padding: 9em 0em 5em 0em;
  transition: transform 1s cubic-bezier(0.5, 0.2, 0.2, 0.5);
  position: fixed;
  transform: translateX(100%);
  top: 0;
  right: 0;
  overflow: auto;
  z-index: 500;
}
header nav .inner-nav.isActive {
  transform: translateX(0%);
}
header nav ul.links {
  position: relative;
  padding: 0em;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  z-index: 1;
  display: flex;
}
header nav ul.links li.link {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #D9D9D7;
  display: block;
  position: relative;
}
header nav ul.links li.link a {
  color: #202020;
  text-decoration: none;
  text-align: left;
  transition: color 0.5s;
  padding: 1em 0 1em 1em;
  display: block;
  text-transform: capitalize;
  font-size: 1.1em;
}
header nav ul.links li.link.active a,
header nav ul.links li.link:hover a {
  color: var(--primary-color) !important;
}
header nav ul.links li.link.active a::after,
header nav ul.links li.link:hover a::after {
  width: 100%;
}
header .hamburger {
  padding: 1em 0;
  z-index: 9999;
  display: block;
  border: 0;
  background-color: transparent;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.33s ease;
  position: relative;
}
header .hamburger::before {
  content: 'Menu';
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  top: 5em;
  transform: rotate(90deg);
}
header .hamburger:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
header .hamburger .box {
  width: 0.8em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: color 0.33s ease;
  position: relative;
}
header .hamburger .box .inner {
  height: 100%;
  width: 1px;
  position: relative;
  background-color: white;
  transform-origin: center;
  display: block;
}
header .hamburger .box .inner:nth-child(1),
header .hamburger .box .inner:nth-child(3) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}
header .hamburger .box .inner:nth-child(1) {
  left: 0;
  transition: left 0.33s ease 0s, transform 0.33s ease 0s;
}
header .hamburger .box .inner:nth-child(2) {
  transition: height 0.33s ease;
  transform-origin: bottom;
  transform: scaleY(1);
  transition: transform 0.33s ease;
  transition-delay: 0.33s;
}
header .hamburger .box .inner:nth-child(3) {
  right: 0;
  transition: right 0.33s ease 0s, transform 0.33s ease 0s;
}
header .hamburger.isActive {
  background-color: rgba(0, 0, 0, 0.8);
}
header .hamburger.isActive .box .inner:nth-child(1) {
  transform: translateY(-50%) rotate(-25deg);
  left: 50%;
  transition-delay: 0.33s;
}
header .hamburger.isActive .box .inner:nth-child(2) {
  transform: scaleY(0);
  transition-delay: 0s;
}
header .hamburger.isActive .box .inner:nth-child(3) {
  right: 50%;
  transform: translateY(-50%) rotate(25deg);
  transition-delay: 0.33s;
}
